.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .modal-content {
    border: 1px solid #000;
    width: 760px;
    height: 480px;
    padding: 1px;
    background-color: #000;
  }

  .modal-footer {
    border-top: none;
    button {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .modal-content {
      height: 320px;
      width: 90%;
    }
  }

  @media (max-width: 425px) {
    .modal-content {
      height: 240px;
    }
  }
}
